@import 'languages/tokenClassnames';

@import 'languages/html';
@import 'languages/css';
@import 'languages/javascript';
@import 'languages/python';
@import 'languages/bash';
@import 'languages/SQL';
@import 'languages/MongoDB';
@import 'languages/json';
@import 'languages/c';
@import 'languages/c#';
@import 'languages/graphql';
@import 'languages/java';
@import 'languages/dart';
@import 'languages/rust';
//@import 'languages/swift';
//@import 'languages/elm';
//@import 'languages/vim';

h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

li {
  text-align: left;
}

.#{$code-container} pre {
  background: #2F2F31;
  overflow-wrap: normal;
  padding-left: 10px;
  line-height: 1.65;
}

.#{$code-container} pre, .#{$code-container} code {
  font-family: FiraCode, monospace;
  font-size: 1.125rem;
  overflow-wrap: normal;
  width: inherit;
}

p {
  line-height: 1.6;
}

img {
  display: block;
  max-width: calc(100% - 10px);
  max-height: none;
  margin: 5px auto;
}

.#{$user-comment} code {
  background: rgba(135, 131, 120, .15);
  color: #EB5757;
  border-radius: 3px;
  padding: .2em .3em;
}

.#{$user-comment} {
  width: calc(100% - 1em);
  border: 2px solid #000;
  border-radius: 6px;
  background: #18191A;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px .5em;
  color: #f5f6f7;
  letter-spacing: .8px;

  & i, & em {
    font-style: normal;
    color: rgb(166, 226, 46);
  }
}

.#{$code-container} {
  text-align: left;

  & i {
    font-style: normal;
  }
}