@import 'tokenClassnames.scss';
/* must occur before the 'code.scss' */
@import 'root-vars.scss';
@import 'code.scss';

/* ANKI ONLY! TODO: separate anki application and anki env */
body {
  color: var(--code-base-color);
  background-color: var(--code-background)!important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

li {
  text-align: left;
  line-height: 1.6;
}

.#{$code-container} pre {
  padding-left: 10px;
  line-height: 1.65;
}

.#{$code-container} pre, .#{$code-container} code {
  font-family: Menlo, Monaco, 'Courier New', monospace; // FiraCode, monospace
  font-size: .9rem;
  overflow-wrap: normal;
  width: inherit;
}

p {
  line-height: 1.6;
}

img {
  display: block;
  max-width: calc(100% - 10px);
  max-height: none;
  margin: 5px auto;
}

.#{$user-comment} {
  width: calc(100% - 1em);
  /* border: 2px solid $user-comment-border-color;
  border-radius: 6px;*/
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  margin: 5px .5em;
  color: var(--user-comment-text-color);
  letter-spacing: .8px;

  /* & i, & em {
    font-style: normal;
    color: $user-comment-italic-color;
  } */

  & code {
    color: var(--user-comment-code-color);
    background-color: var(--user-comment-code-background-color);
    border-radius: 3px;
    padding: .2em .3em;
  }
}

.#{$code-container} {
  text-align: left;

  & i {
    font-style: normal;
  }
}
