@font-face {
  font-family: "FiraCode";
  src: url("../../../fonts/_FiraCode.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../../fonts/_Ubuntu-R.ttf") format("truetype");
}