@import "root-vars.scss";

$code-container: cc;
$user-comment: com;
// Prism.js tokens
$token: _;
$keyword: a;
$tag: b;
// !!! c is OCCUPIED!!!
$punctuation: d;
$function: e;
$function-name: f;
$number: g;
$property: h;
$class-name: j;
$constant: k;
$symbol: l;
$boolean: m;
$selector: n;
$important: o;
$builtin: p;
$string: q;
$attr-value: r;
$variable: s;
$regex: t;
$parameter: u;
$operator: v;
$namespace: w;
$expression: x;
$comment: y;
$block-comment: z;
$atrule: A;
$prolog: B;
$doctype: C;
$cdata: D;
$regex-delimiter: E;
$deleted: F;
$escape: G;
$url: H;
$entity: I;
$attr-name: G;
$range: K;
$range: K;
$char: L;
$regex-flags: M;
$directive: N;
$directive-hash: O;
$function-definition: P;