.highlightedForm > textarea {
    margin-top: .5em;
    width: 100%;
    resize: none;
    border: 1px solid hsl(170, 20%, 30%);
    box-sizing: border-box;
    background: hsl(170, 20%, 80%);
    height: 50vh;
}
.highlightedForm > textarea:focus {
    outline-color: hsl(170, 20%, 30%);
}