@import '../../modules/anki/anki-styles/programming';

.btnContainer {
  & > * {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: .3em;
    }
    &:last-child {
      margin-left: 1em;
      width: 20%;
    }
  }
}

.rendererField {
  color: var(--code-base-color);
  overflow-x: auto;
  margin-top: 10px;
  background-color: var(--code-background);
  box-sizing: border-box;
}

.rendererField::-webkit-scrollbar {
  background: hsl(240, 2%, 8%);
  width: .7rem;
  height: .7rem;
}
.rendererField::-webkit-scrollbar-corner {
  background: hsl(240, 2%, 5%);
}
.rendererField::-webkit-scrollbar-thumb {
  background: hsl(240, 2%, 4%);
}
