@font-face {
  font-family: "FiraCode";
  src: url("_FiraCode.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-R.ttf") format("truetype");
}

html, #wrapper {
  background: #2f2f31;
}

#wrapper {
  font-family: Ubuntu, FiraCode, sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: calc(100% - 10px);
  max-height: none;
  margin: 5px auto;
}

div.comment {
  width: calc(100% - 10px);
  border: 2px solid black;
  border-radius: 6px;
  background: #18191A;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px 0 0 5px;
  color: #f5f6f7;
  letter-spacing: .8px;
}

@media (min-width: 1300px) {
  div.comment {
    width: calc(1100px);
  }
}

div.comment i {
  font-style: normal;
  color: rgb(166, 226, 46);
}

div.comment u {
  background: #606770;
  text-decoration: none;
  color: #f5f6f7;
  border-radius: 5px;
}

div.comment sup {
	font-family: FiraCode;
	vertical-align: bottom;
	font-size: 1.125rem;
	letter-spacing: 0px;
}

div.code_container {
  text-align: left;
}

html pre {
  background: #2F2F31;
  overflow-wrap: normal;
  padding-left: 10px;
  line-height: 1.65;
}

pre, code {
  font-family: FiraCode, sans-serif;
  font-size: 1rem;
  overflow-wrap: normal;
  width: inherit;
}

@keyframes rainbow-background {
  $colours: (#ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  $i: 1;
  @while 14 > $i {
    #{100*$i/13}% {
      color: nth($colours, $i);
    }
    $i: $i + 1;
  }
}

div.code_container i {
  font-style: normal;
}

div#card:not(.card_hidden) div.code_container i, div.code_container u {
  text-decoration: none;
  background: #4A4D50;
}

div.card_hidden .cloze {
  animation-iteration-count: infinite;
  animation-name: rainbow-background;
  animation-duration: 3s;
}

.cloze {
  font-weight: normal !important;
}
