@import 'tokenClassnames';
@import 'code';

@import 'resources.scss';

$user-comment-text-color: #f5f6f7;
$user-comment-background-color: #18191a;
$user-comment-border-color: #000;
$user-comment-italic-color: #FFC800; // rgb(166, 226, 46)
$user-comment-code-color: #EB5757;
$user-comment-code-background: rgba(135, 131, 120, .15);

h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

li {
  text-align: left;
  line-height: 1.6;
}

.#{$code-container} pre {
  //background: #2F2F31;
  padding-left: 10px;
  line-height: 1.65;
}

.#{$code-container} pre, .#{$code-container} code {
  font-family: FiraCode, monospace;
  font-size: 1.125rem;
  overflow-wrap: normal;
  width: inherit;
}

p {
  line-height: 1.6;
}

img {
  display: block;
  max-width: calc(100% - 10px);
  max-height: none;
  margin: 5px auto;
}

.#{$user-comment} {
  width: calc(100% - 1em);
  border: 2px solid $user-comment-border-color;
  border-radius: 6px;
  background: $user-comment-background-color;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px .5em;
  color: $user-comment-text-color;
  letter-spacing: .8px;

  & i, & em {
    font-style: normal;
    color: $user-comment-italic-color;
  }

  & code {
    background: $user-comment-code-background;
    color: $user-comment-code-color;
    border-radius: 3px;
    padding: .2em .3em;
  }
}

.#{$code-container} {
  text-align: left;

  & i {
    font-style: normal;
  }
}