.code_container.bash {
  .token.punctuation {
    color: rgb(136, 198, 190);
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.function {
    color: #f08d49;
  }

  .token.number,
  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #f8c555;
  }

  .token.boolean,
  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #cc99cd;
  }

  .token.string,
  .token.char{
    color: #98C379;
  }

  .token.parameter {
    color: #9ACBD9;
  }

  span.token.keyword + span.token.punctuation + span.token.function,
  .token.attr-name {
    color: #E5C17C;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #67cdcc;
  }
}