.#{$code-container}.json {
  .#{$token} {
    &.#{$punctuation} {
      color: rgb(136, 198, 190);
    }

    &.#{$number} {
      color: #6196cc;
    }

    &.#{$property} {
      color: #C679DD;
    }

    &.#{$string} {
      color: #98C379;
    }

    &.#{$parameter} {
      color: #9ACBD9;
    }

    &.#{$operator} {
      color: #67cdcc;
    }
  }
}