.code_container.json {
  .token.punctuation {
    color: rgb(136, 198, 190);
  }

  .token.number {
    color: #6196cc;
  }

  .token.property {
    color: #C679DD;
  }

  .token.string {
    color: #98C379;
  }

  .token.parameter {
    color: #9ACBD9;
  }

  .token.operator {
    color: #67cdcc;
  }
}