.#{$code-container}.sql {
  .#{$token} {
    &.#{$comment},
    &.#{$block-comment},
    &.#{$prolog},
    &.#{$doctype},
    &.#{$cdata} {
      color: #999;
    }

    &.#{$punctuation} {
      color: rgb(136, 198, 190);
    }

    &.#{$tag},
    &.#{$namespace},
    &.#{$deleted} {
      color: #e2777a;
    }

    &.#{$variable} {
      color: #E06C75;
    }

    &.#{$function-name} {
      color: #6196cc;
    }

    &.#{$function} {
      color: #61AEEF;
    }

    &.#{$number},
    &.#{$property},
    &.#{$class-name},
    &.#{$constant},
    &.#{$symbol} {
      color: #f8c555;
    }

    &.#{$boolean},
    &.#{$selector},
    &.#{$important},
    &.#{$atrule},
    &.#{$keyword},
    &.#{$builtin} {
      color: #C679DD;
    }

    &.#{$string},
    &.#{$attr-value},
    &.#{$char},
    &.#{$regex} {
      color: #98C379;
    }

    &.#{$parameter} {
      color: #9ACBD9;
    }

    &.#{$attr-name} {
      color: #E5C17C;
    }
    &.#{$operator},
    &.#{$entity},
    &.#{$url} {
      color: #67cdcc;
    }

  }
  span {
    .#{$token} {
      &.#{$keyword} + &.#{$punctuation} + &.#{$function} {
        color: #E5C17C;
      }
    }
  }
}