.App {
  margin: .5rem;
}

.App {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  grid-column-gap: 2px;
}

.App > div > h1 {
  text-align: center;
  background: hsl(20, 10%, 93%);
}

.App > div {
  margin: 0 1vw;
}